<%- layout('layouts/app') %>

<section id="hero" class="mt-0 md:pt-20">
    <div class="container mx-auto mt-5 lg:-mt-10">
        <div class="lg:flex">
            <div class="w-full lg:w-1/2 px-4 md:px-24 lg:py-20">
                <p id="qubisa-text" class="text-2xl md:text-4xl text-[#353b64] font-medium" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);">Best Paltform to Explore Programming world</p>
                <p class="md:text-lg text-[#353b64] font-medium mt-2">The place where you can change youre codes to languanges and build youre creativity with Qubisa Learn.</p>
                <p class="md:text-lg text-[#353b64] font-medium">Lets find miracle programming together</p>
                <div class="my-4 bg-yellow-300 px-5 py-2 rounded-lg hover:bg-yellow-400 active:scale-95 w-fit">
                    <a href="<%= currentUser ? '/course' : '/auth' %>" class="text-[#353b64] font-medium">Join Now</a>
                </div>
            </div>
            <div class="w-full px-4 py-4 lg:w-1/2">
                <img class="mx-auto hover:scale-105 duration-200" src="/img/banner.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="my-10 px-5">
    <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row justify-center gap-8 lg:gap-36">
            <div class="flex items-center gap-4">
                <div class="bg-blue-300 opacity-75 p-2 rounded-lg">
                    <i class="bi bi-stars text-3xl"></i>
                </div>
                <div>
                    <p class="text-lg font-medium text-[#353b64]">Online Course</p>
                    <p class="text-md text-[#353b64]">Study at anytime and everywhere</p>
                </div>
            </div>
            <div class="flex items-center gap-4">
                <div class="bg-blue-300 opacity-75 p-2 rounded-lg">
                    <i class="bi bi-person-fill-up text-3xl"></i>
                </div>
                <div>
                    <p class="text-lg font-medium text-[#353b64]">Expert Intructor</p>
                    <p class="text-md text-[#353b64]">Expert Intructor Would you like to grew up your skill</p>
                </div>
            </div>
            <div class="flex items-center gap-4">
                <div class="bg-blue-300 opacity-75 p-2 rounded-lg">
                    <i class="bi bi-clock-fill text-3xl"></i>
                </div>
                <div>
                    <p class="text-lg font-medium text-[#353b64]">Lifetime Access</p>
                    <p class="text-md text-[#353b64]">Would you like to grew up your skill</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="mt-0 pt-16 md:pt-20">
    <div class="container mx-auto mt-5 lg:-mt-10">
        <div class="lg:flex lg:flex-row-reverse items-center">
            <div data-aos="fade-left" class="w-full lg:w-1/2 px-4 md:px-24 lg:py-20 lg:mr-[160px]">
                <p class="text-2xl md:text-4xl text-[#353b64] font-medium">About me</p>
                <p class="md:text-lg text-[#353b64] font-medium mt-1">Qubisa Learn is a website course that contains programming materials and video tutorials in the scope of Programming, and Cyber Security</p>
            </div>
            <div data-aos="fade-right" class="w-full px-4 py-4 lg:w-1/2">
                <img class="mx-auto lg:ml-[200px] lg:w-[60%] hover:scale-105 duration-200" src="/img/qubisa.png" alt="...">
            </div>
        </div>
    </div>
</section>

<section id="categories" class="mt-0 pt-3 md:pt-20 bg-[#265073] pb-10">
    <div class="container mx-auto mt-5 lg:-mt-10">
        <div class="lg:flex items-center">
            <div class="w-full lg:w-[40%] px-4 md:px-24 lg:py-20">
                <p class="text-2xl md:text-4xl text-white font-medium">Our Categories</p>
                <p class="md:text-lg text-white font-medium mt-2 lg:mt-5">Whether you're a beginner or an advanced learner, discover courses that are tailored to your learning goals. Browse and choose from our curated categories to start a learning journey that fits your goals.</p>
            </div>
            <div class="w-full py-4 lg:w-[60%] mt-3">
                <div class="flex flex-wrap justify-center lg:flex-row lg:flex-wrap gap-6">
                    <a href="/course?search=web" class="hover:scale-105 duration-300">
                        <div data-aos="flip-right" class="w-[150px] h-[200px] lg:w-[200px] lg:h-[250px] bg-white rounded-xl py-3 px-3">
                            <img class="mx-auto h-max" src="/img/web.jpg" alt="">
                            <p class="text-center text-[#265073] font-medium">Web Development</p>
                        </div>
                    </a>
                    <a href="/course?search=mobile" class="duration-300 hover:scale-105">
                        <div data-aos="flip-right" class="w-[150px] h-[200px] lg:w-[200px] lg:h-[250px] bg-white rounded-xl py-3 px-3">
                            <img class="mx-auto w-[95%] h-max" src="/img/mobile.jpg" alt="">
                            <p class="text-center text-[#265073] font-medium">Mobile Development</p>
                        </div>
                    </a>
                    <a href="/course?search=cyber" class="duration-300 hover:scale-105">
                        <div data-aos="flip-right" class="w-[150px] h-[200px] lg:w-[200px] lg:h-[250px]  bg-white rounded-xl py-3 px-3">
                            <img class="mx-auto w-[95%] h-max" src="/img/cyber.jpg" alt="">
                            <p class="text-center text-[#265073] font-medium">Cyber Security</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="top-course" class="pt-3 py-10">
    <div class="container mx-auto py-10">
        <div class="mb-10">
            <p class="text-2xl md:text-4xl text-[#353b64] text-center font-medium">Top Course</p>
            <p class="md:text-lg text-[#353b64] font-medium mt-2 lg:mt-2 text-center">Highly rated class recommendation</p>
        </div>
        <div class="flex lg:flex flex-wrap justify-center gap-5 lg:gap-10">
        <% const coursesToShow = courses.slice(0, 3); %> 
        <% for (let course of coursesToShow) { %>
            <div class="w-[43%] lg:w-[17%] bg-white rounded-lg border-2 border-[#353b64] px-3 py-3 hover:scale-[1.03] hover:rotate-1 duration-200">
                <a href="/course/<%= course._id%>">
                    <div class="bg-gray-300 rounded-md p-3">
                        <img class="w-[50%] lg:w-[80%] mx-auto" src="<%= course.image %>" alt="">
                    </div>
                    <p class="text-xs lg:text-xs text-gray-500 font-regular mt-1"><%= course.author %> <i class="bi bi-check-square-fill mr-1 text-green-500"></i></p>
                    <p class="text-sm md:text-md text-[#353b64] font-medium mt-1"><%= course.title %></p>
                    <p class="text-xs text-gray-500 mt-2"><i class="bi bi-tags-fill mr-1 text-gray-500"></i><%= course.category %></p>
                    <p class="text-sm text-gray-500 mt-2"><i class="bi bi-star-half mr-1 text-[#FFC436]"></i> <span class="text-sm text-[#FFC436] font-medium"><%= course.averageRating %></span> (<%= course.reviewsCount %>) Reviews</p>
                </a>
            </div>
        <% } %>    
        </div>
    </div>
</section>

<script>
    let text = new SplitType("#qubisa-text");
    let characthers = document.querySelectorAll('.char');

    for (let i = 0; i < characthers.length; i++) {
        characthers[i].classList.add('translate-y-full')
    }

    gsap.fromTo('.char', { opacity: 0 }, { y: 0, opacity: 1, stagger: 0.05, delay: 0.02, duration: 0.3 })
</script>

