<%- layout('layouts/app') %>

<section>
    <div class="container mx-auto py-6 px-3">
        <div class="mx-auto bg-yellow-300 py-6 rounded-md">
            <p class="text-lg md:text-xl text-center text-[#353b64] font-medium">Explore course is you want</p>
            <p class="text-xs lg:text-md text-center text-[#353b64] font-medium lg:mt-1 mb-2">Lorem ipsum dolor quam mquepudiandae!</p>
            <form action="/" class="">
                <div class="relative flex items-center text-sm text-gray-400 focus-within:text-gray-600">
                    <div class="absolute left-[19%] lg:left-[36%]">
                        <i class="bi bi-search text-sm text-gray-500 lg:text-xl"></i>
                    </div>
                    <input type="text" name="search" placeholder="Search talk" autocomplete="off" aria-label="Search talk" class="w-[70%] lg:w-[30%] mx-auto pr-3 pl-10 py-2 font-regular placeholder-gray-500 text-black ring-2 ring-slate-300 rounded-2xl border-none focus:outline-none focus:border-[#353b64] focus:ring-[#353b64] focus:ring-2">
                </div>
            </form>
        </div>
    
    </div>
</section>

<section>
    <div class="container mt-2 mx-auto mb-20">
        <div class="mt-2 mb-6 lg:mb-8 ml-6">
            <select id="categories" class="bg-gray-50 border border-gray-400 text-[#353b64] text-xs lg:text-sm rounded-sm lg:rounded-md focus:outline-none focus:ring-[#353b64] focus:border-[#353b64] block w-min px-1">
                <option>All Category</option>
                <option value="Web Development">Web Development</option>
                <option value="Mobile Development">Mobile Development</option>
                <option value="Cyber Security">Cyber Security</option>
            </select>
        </div>
        <div class="flex lg:flex flex-wrap justify-center gap-5 lg:gap-15">
            <% for (let course of courses) { %>
                <div class="w-[43%] lg:w-[15%] bg-white rounded-md border-2 border-[#353b64] px-3 py-3 hover:scale-[1.03] hover:rotate-1 duration-200">
                    <a href="/course/<%= course._id %>">
                        <div class="bg-gray-200 rounded-md p-3">
                            <img class="w-[50%] lg:w-[80%] mx-auto" src="<%= course.image %>" alt="">
                        </div>
                        <p class="text-xxs lg:text-xs text-gray-500 font-regular mt-1"><%= course.author %> <i class="bi bi-check-square-fill mr-1 text-green-500"></i></p>
                        <p class="text-sm md:text-md text-[#353b64] font-medium mt-1"><%= course.title %></p>
                        <p class="text-xxs lg:text-xs text-gray-500 mt-2"><i class="bi bi-tags-fill mr-1 text-gray-500"></i><%= course.category %></p>
                        <p class="text-xs lg:text-sm text-gray-500 mt-2"><i class="bi bi-star-half mr-1 text-[#FFC436]"></i> <span class="text-xs lg:text-sm text-[#FFC436] font-medium">4.9</span> (100) Reviews</p>
                    </a>
                </div>
            <% } %>       
        </div>
    </div>
</section>

<script>

</script>

