<%- layout('layouts/app') %>

<section>
    <div class="container mx-auto py-6 px-3">
        <div class="mx-auto bg-yellow-300 py-6 rounded-md">
            <p class="text-sm md:text-xl text-center text-[#353b64] font-semibold">find your best course and achieve your goals</p>
            <p class="text-xxs lg:text-base text-center text-[#353b64] font-medium lg:mt-1 mb-2">There are numerous courses available in various categories.</p>
            <form id="search-bar" action="" class="">
                <div class="relative flex items-center text-sm text-gray-400 focus-within:text-gray-600">
                    <div class="absolute left-[19%] lg:left-[36%]">
                        <i class="bi bi-search text-sm text-gray-500 lg:text-xl"></i>
                    </div>
                    <input type="text" name="search" placeholder="Search course" autocomplete="off" aria-label="Search course" class="w-[70%] lg:w-[30%] mx-auto pr-3 pl-10 py-2 font-regular placeholder-gray-500 text-black ring-2 ring-slate-300 rounded-2xl border-none focus:outline-none focus:border-[#353b64] focus:ring-[#353b64] focus:ring-2">
                </div>
            </form>
        </div>
    
    </div>
</section>

<section>
    <div class="container mt-2 mx-auto mb-20">
        <div class="mt-2 mb-6 lg:mb-8 ml-6 flex gap-4 justify-between pr-10">
            <% if (currentUser.username == 'admin') { %>
                <div class="bg-[#353b64] pb-1 lg:p-2 px-3 rounded-md hover:scale-95 scale-0 lg:scale-100">
                <a href="/course/create" class="text-white text-xs lg:text-base">Add Course</a>
            </div>
            <% } %>
        </div>
        <div id="course-list" class="flex lg:flex flex-wrap justify-center gap-5 lg:gap-15">
            <% for (let course of courses) { %>
                <div class="w-[43%] lg:w-[15%] bg-white rounded-md border-2 border-[#353b64] px-3 py-3 hover:scale-[1.03] hover:rotate-1 duration-200">
                    <a href="/course/<%= course._id %>">
                        <div class="bg-gray-200 rounded-md p-3">
                            <img class="w-[50%] lg:w-[80%] mx-auto" src="<%= course.image %>" alt="">
                        </div>
                        <p class="text-xxs lg:text-xs text-gray-500 font-regular mt-1"><%= course.author %> <i class="bi bi-check-square-fill mr-1 text-green-500"></i></p>
                        <p class="text-sm md:text-md text-[#353b64] font-medium mt-1"><%= course.title %></p>
                        <p class="text-xxs lg:text-xs text-gray-500 mt-2"><i class="bi bi-tags-fill mr-1 text-gray-500"></i><%= course.category %></p>
                        <p class="text-xs lg:text-sm text-gray-500 mt-2"><i class="bi bi-star-fill mr-1 text-[#FFC436]"></i> <span class="text-xs lg:text-sm text-[#FFC436] font-medium"><%= course.averageRating %></span> (<%= course.reviewsCount %>) Reviews</p>
                    </a>
                </div>  
            <% } %>       
        </div>
    </div>
</section>

<script>
</script>

